<h2> <%= @product.name %> </h2>
<h4> Price: <%= @product.price %> </h4>
<h4> Description: <%= @product.description %> </h4>
<h4> Brand: <%= @product.brand %> </h4>
<img src="<%= @product.images %>" alt=""/>